UseTab: Never
IndentWidth: 4
BreakBeforeBraces: BS_Attach
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: false
  SplitEmptyFunction: false
IndentCaseLabels: false
ColumnLimit: 0